<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <location path="Build" allowOverride="false">
    <system.webServer>
      <directoryBrowse enabled="true"
                       showFlags="Date, Time, Size, Extension" />
      <security>
        <authorization>
          <!-- Allow all users access to the Build folder -->
          <remove users="*" roles="" verbs="" />
          <add accessType="Allow" users="*" roles="" />
        </authorization>
      </security>
	  
		<staticContent>
		  <clear />
		  <mimeMap fileExtension="*" mimeType="application/octet-stream" />
		</staticContent>
    </system.webServer>
  </location>
</configuration>